{% extends "layout.jinja2" %}
{% import 'bootstrap/form.html' as bf4 %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3>{{ gettext("Edit lense nb. %(title)s", title=lense.id) }}</h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <form action="{{ url_for('bp_lenses.edit', lense_id=lense.id) }}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ bf4.form_errors(form) }}

                <div class="form-row">
                    <div class="col">{{ bf4.render_field(form.state, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.manufacturer, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.url1, 'vertical') }}</div>
                </div>

                <div class="form-row">
                    <div class="col">{{ bf4.render_field(form.state_notes, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.model, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.url2, 'vertical') }}</div>
                </div>

                <div class="form-row">
                    <div class="col">{{ bf4.render_field(form.description, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.model_notes, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.url3, 'vertical') }}</div>
                </div>

                <div class="form-row">
                    <div class="col">{{ bf4.render_field(form.mount, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.serial, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.lense_type, 'vertical') }}</div>
                </div>

                <div class="form-row">
                    <div class="col">{{ bf4.render_field(form.blades, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.macro, 'vertical') }}</div>
                </div>

                <div class="form-row">
                    <div class="col">{{ bf4.render_field(form.focale, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.min_aperture, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.max_aperture, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.macro_length, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.angle, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.filter_diameter, 'vertical') }}</div>
                </div>

                <div class="form-row">
                    <div class="col">{{ bf4.render_field(form.focus, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.focus_length, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.weight, 'vertical') }}</div>
                    <div class="col">{{ bf4.render_field(form.length, 'vertical') }}</div>
                </div>

                <div class="form-row">
                    <div class="col">{{ bf4.render_field(form.submit, button_map={'submit': 'success'}) }}</div>
                    <div class="col">{{ bf4.render_field(form.private, 'vertical') }}</div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    $("#manufacturer").autocomplete({
       serviceUrl: '{{ url_for("bp_autocomplete.manufacturer") }}',
       onSelect: function (suggestion) {
           console.log('Manufacturer selected: ' + suggestion.value);
       }
    });

    $("#model").autocomplete({
       serviceUrl: '{{ url_for("bp_autocomplete.model") }}',
       onSelect: function (suggestion) {
           console.log('Model selected: ' + suggestion.value);
       }
    });

    $("#batteries").autocomplete({
       serviceUrl: '{{ url_for("bp_autocomplete.batteries") }}',
       onSelect: function (suggestion) {
           console.log('Batteries selected: ' + suggestion.value);
       }
    });

    $("#mount").autocomplete({
       serviceUrl: '{{ url_for("bp_autocomplete.mount") }}',
       onSelect: function (suggestion) {
           console.log('Mount selected: ' + suggestion.value);
       }
    });
    </script>
{% endblock %}