# Generate one with either:
# - python -c "import secrets; print(secrets.token_urlsafe())"
# - python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY = "fill me pls"

ALLOWED_HOSTS = ["my.super.domain.tld"]

# 50M
FILE_UPLOAD_MAX_MEMORY_SIZE = 52428800

TIMEZONE = "Europe/Paris"

# You know what you are doing if you change that
PROXIFIED_WITH_SSL = True

DATABASE_URL = "postgresql://<user>:<password>@<host>:<port>/<database>"
