CAMGEAR_API_IP=127.0.0.1
CAMGEAR_API_PORT=8000
CAMGEAR_WEB_WORKERS=1
CAMGEAR_HOSTNAME=127.0.0.1
CAMGEAR_PROTOCOL=http
DJANGO_ALLOWED_HOSTS=localhost,0.0.0.0,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.local
DATABASE_URL=postgresql://camgear@:5432/camgear
