{% extends "base.html" %}
{% load static %}

{% block content %} 
  <div class="box">
    <h3>{% if lens.manufacturer %}{{ lens.manufacturer }} - {% endif %}{{ lens.model }}</h3>
    <div class="columns">
        <div class="column is-5">
            <div class="galleria">
                {% for picture in lens.lens_pictures.all %}
                    <img src="{{ picture.file.url }}" data-thumb="{{ picture.file_medium.url }}" data-description="{{ picture.description|default:'No description :(' }}" alt="{{ picture.description|default:'No description :(' }}">
                {% endfor %}
            </div>
        </div>

        <div class="column is-7">
            {% if lens.wip_sheet %}
                <div class="grid">
                    <div class="cell">
                        <i class="ri-progress-3-line"></i> This sheet is still a WIP.
                    </div>
                </div>
            {% endif %}
            <div class="grid">
                <div class="cell"><b>Manufacturer:</b> {{ lens.manufacturer|default:"unknown" }}</div>
                <div class="cell">{% if lens.system %}<b>System:</b> {{ lens.system }}{% endif %}</div>
            </div>
            <div class="grid">
                <div class="cell"><b>Model:</b> {{ lens.model }}</div>
                <div class="cell"><b>Notes:</b> <small>{{ lens.model_notes|default:"None"|linebreaks  }}</small></div>
            </div>
            <div class="grid">
                <div class="cell"><b>State:</b> {{ lens.get_state_display }}</div>
                <div class="cell"><b>Notes:</b> <small>{{ lens.state_notes|default:"None"|linebreaks }}</small></div>
            </div>
            {% if lens.description %}
                <div class="grid">
                    <div class="cell"><b>Description:</b> <small>{{ lens.description|linebreaks }}</small></div>
                </div>
            {% endif %}
            <div class="grid">
                <div class="cell"><b>Lens type:</b> {{ lens.get_lens_type_display }}</div>
                <div class="cell"></div>
            </div>
            {% if lens.focale_str or lens.aperture_str %}
                <div class="grid">
                    <div class="cell">{% if lens.focale_str %}<b>Focale:</b> {{ lens.focale_str }}{% endif %}</div>
                    <div class="cell">{% if lens.aperture_str %}<b>Aperture:</b> {{ lens.aperture_str }}{% endif %}</div>
                </div>
            {% endif %}
            {% if lens.features_str %}
                <div class="grid">
                    <div class="cell"><b>Features:</b> {{ lens.features_str }}</div>
                    <div class="cell"></div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="columns">
        <div class="column is-7">
            <h4>Repair/Notes changelog</h4>
            {% if lens.lens_repairlog.all %}
                {% for log in lens.lens_repairlog.all %}
                    <div class="card">
                        <header class="card-header">
                        <p class="card-header-title">{{ log.title }}&nbsp;<small>({{ log.done_at }})</small></p>
                        </header>
                        <div class="card-content">
                        <div class="content">
                            {{ log.note|linebreaks }}
                        </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                No Logs.
            {% endif %}
        </div>
        <div class="column is-4 is-offset-1">
            <h4>Files</h4>
            {% if lens.lens_files.all %}
                <ul>
                    {% for file in lens.lens_files.all %}
                    <li><a href="{{ file.file.url }}" target="_blank">{{ file.filename_str }}</a>
                    {% endfor %}
                </ul>
            {% else %}
                No Files.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script async type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
{% endblock %}