{% extends "layout.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-lg-10"><h3>{{ gettext("%(username)s's cameras", username=user.username()) }}</h3></div>
        <div class="col-lg-2 text-lg-right">
            {% if current_user.is_authenticated and user == current_user %}
                <a class="btn btn-primary btn-sm" href="{{ url_for('bp_users.edit') }}">{{ gettext("Edit profile") }}</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <a href="{{ url_for("bp_users.cameras", name=user.name) }}">Cameras</a> ({{ cameras_count }}) | <a href="{{ url_for("bp_users.lenses", name=user.name) }}">Lenses</a> ({{ lenses_count }}) | <a href="{{ url_for("bp_users.accessories", name=user.name) }}">Accessories</a> ({{ accessories_count }})
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-sm table-stripped table-bordered">
                <tr>
                    <th>Picture</th>
                    <th>{{ gettext("Manufacturer") }}</th>
                    <th>{{ gettext("Model") }}</th>
                    <th>{{ gettext("State") }}</th>
                    <th>{{ gettext("Mount") }}</th>
                    <th>{{ gettext("Focale") }}</th>
                    <th>{{ gettext("Aperture") }}</th>
                    <th>{{ gettext("Focusing") }}</th>
                    {% if current_user.is_authenticated and user == current_user %}
                        <th>{{ gettext("Actions") }}</th>
                    {% endif %}
                </tr>
                {% for camera in cameras %}
                    <tr>
                        <td rowspan="4" width="210px">
                            {% if camera.pic_filename %}<img src="/uploads/pictures/{{ camera.pic_filename | thumbnail('200x200', crop='aaa', quality=90) }}">{% endif %}
                        </td>
                        <td>{% if camera.private %}<i class="fa fa-lock" aria-hidden="true"></i> {% endif %}{{ camera.manufacturer }}</td>
                        <td>{% if camera.private %}<i class="fa fa-lock" aria-hidden="true"></i> {% endif %}{{ camera.model }}</td>
                        <td>{{ camera.state_str() }}</td>
                        <td>{{ camera.mount }}</td>
                        <td>{{ camera.focale_str() }}</td>
                        <td>{{ camera.aperture_str() }}</td>
                        <td>{{ camera.focus_str() }}</td>
                        {% if current_user.is_authenticated and user == current_user %}
                            <td>
                                <a href="{{ url_for("bp_cameras.edit", camera_id=camera.id) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a href="{{ url_for("bp_cameras.delete", camera_id=camera.id) }}" class="delete_link"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="10">Model Notes: {{ camera.model_notes }}</td>
                    </tr>
                    <tr>
                        <td colspan="10">State notes: {{ camera.state_notes }}</td>
                    </tr>
                    <tr>
                        <td colspan="10">Description: {{ camera.description }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}
