{% extends "layout.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-lg-10"><h3>{{ gettext("%(username)s's cameras", username=user.username()) }}</h3></div>
        <div class="col-lg-2 text-lg-right">
            {% if current_user.is_authenticated and user == current_user %}
                <a class="btn btn-primary btn-sm" href="{{ url_for('bp_users.edit') }}">{{ gettext("Edit profile") }}</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <a href="{{ url_for("bp_users.cameras", name=user.name) }}">Cameras</a> ({{ cameras_count }}) | <a href="{{ url_for("bp_users.lenses", name=user.name) }}">Lenses</a> ({{ lenses_count }}) | <a href="{{ url_for("bp_users.accessories", name=user.name) }}">Accessories</a> ({{ accessories_count }})
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-sm table-stripped table-bordered">
                <tr>
                    <th>{{ gettext("Manufacturer") }}</th>
                    <th>{{ gettext("Model") }}</th>
                    <th>{{ gettext("State") }}</th>
                    <th>{{ gettext("Description") }}</th>
                    <th>{{ gettext("Actions") }}</th>
                </tr>
                {% for camera in cameras %}
                    <tr>
                        <td>{{ camera.manufacturer }}</td>
                        <td>{{ camera.model }}</td>
                        <td>{{ camera.state_str() }}</td>
                        <td>{{ camera.description }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}
