{% extends "layout.jinja2" %}

{% block opengraph %}
    <meta content="{{ g.cfg['app_name'] }}" property="og:site_name" />
    <meta property="og:type" content="profile">
    <meta content="Tracks of {{ user.name }}" property="og:title" />
    <meta content="Tracks of {{ user.name }}" property="og:description" />
    <meta content="{{ url_for('bp_users.profile', name=user.name) }}" property="og:url" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10"><h3>{{ gettext("%(username)s's profile", username=user.username()) }}</h3></div>
        <div class="col-lg-2 text-lg-right">
            {% if current_user.is_authenticated and user == current_user %}
            <a class="btn btn-primary btn-sm" href="{{ url_for('bp_users.edit') }}">{{ gettext("Edit profile") }}</a>
            {% endif %}
        </div>

    </div>

    <div class="row">
        <div class="col-lg-10">
            <a href="">View Cameras</a> | <a href="">View Lenses</a> | <a href="{{ url_for("bp_users.accessories", name=user.name) }}">View Accessories</a>
        </div>
    </div>

{% endblock %}
